
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/style.css">

  <script src="js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
    <div class="header-block">
        {% if params.index %}
        <img src="{{params.imgUrn}}/logo.jpg" width="136" height="45" alt="NERD">
        {% else %}
        <a href="/" class="home-link"><img src="{{params.imgUrn}}/logo.jpg" width="136" height="45" alt="NERD"></a>
        {% endif %}
        <nav>
            <a href=""><span>Tags</span></a>
            <a href=""><span>Add Video</span></a>
            <a href=""><span>Loved Video's</span></a>
            <a href=""><span>About</span></a>
        </nav>

        <form action="" method="GET" class="searchbox">
            <label>
              <input type="search" name="search" value="Search" id="search_input">
            </label>
        </form>

        <a href="" class="message" id="message">
            <img src="{{params.imgUrn}}/message_icon_gray_22x22.png" width="22" height="22" alt="">
        </a>

        <a href="" class="notification" id="notification">
            <img src="{{params.imgUrn}}/notify_gray_22x22.png" width="22" height="22"  alt="">
        </a>

        <div class="userbar">
            <div class="userbar-avatar">
                <img src="{{params.imgUrn}}/user_avatar_big_30x30.png" width="30" height="30">
                <ul class="avatar-menu bordered-block">
                    <li><a href="">My Settings</a></li>
                    <li><a href="">Sign Out</a></li>
                </ul>
            </div>

            <div>
                <a href="">Andrei Bourdine</a>
                <span>
                    <img src="{{params.imgUrn}}/header_list_arrow.gif" width="9" height="5" alt="">
                </span>
            </div>
        </div>
    </div>
  </header>

  <div class="main-container row-fluid">
    {% block content %}
    <div class="content span8" role="main"></div>
    {% endblock %}

    <aside class="span4">
      <div class="side-block">
        <div class="tab-container">
          <div id="sign-in-tab" class="side-tab side-tab__active">Sign In</div>
          <div id="register-tab" class="side-tab">Register</div>
        </div>

        <div id="sign-in" class="side-login-container">
          <form action="#" method="POST" id="sign_in_form" class="row-fluid side-form">
            <label for="name">YOUR EMAIL:</label>
            <span class="form-tip form-tip__error">THIS EMAIL IS NOT REGISTERED</span>
            <input type="text" name="email" id="name" placeholder="ex. john@gmail.com">

            <label for="password">YOUR PASSWORD:</label>
            <span class="form-tip form-tip__error">THIS PASSWORD IS INCORRECT</span>
            <input type="password" name="password" id="password" placeholder="">

            <div class="button_center button_center__top_shift">
              <div class="button_border button_border__big">
                <button class="blue_btn helv">Sign In</button>
              </div>
            </div>
          </form>
        </div>

        <div id="register" class="side-login-container hide">
            <form action="#" method="POST" id="register-form" class="row-fluid side-form">
              <label for="reg-name">YOUR FIRST AND SECOND NAME:</label>
              <div class="form-tip form-tip__error">THIS FIELD IS REQUIRED</div>
              <input type="text" name="name" id="reg-name" placeholder="John Smith">

              <label for="reg-mail">YOUR EMAIL:</label>
              <div class="form-tip form-tip__error">THIS EMAIL IS REGISTERED</div>
              <input type="text" name="email" id="reg-mail" placeholder="ex. john@gmail.com">

              <label for="reg-password">YOUR PASSWORD:</label>
              <div class="form-tip form-tip__error">THIS FIELD IS REQUIRED</div>
              <input type="password" name="password" id="reg-password">

              <label for="reg-password-confirm">YOUR PASSWORD:</label>
              <div class="form-tip form-tip__error">THIS FIELD IS REQUIRED</div>
              <input type="password" name="password-confirm" id="reg-password-confirm">

              <div class="button_center button_center__top_shift">
                <div class="button_border button_border__big">
                  <button class="blue_btn helv">Register</button>
                </div>
              </div>
            </form>
        </div>

        <div class="soc-auth">
          <img src="{{params.imgUrn}}/or.png" width="35" height="26" class="or" alt="or">

          <div class="button_center">
            <div class="button_border button_border__bottom_space">
              <a href="#" class="soc_link">
                <div class="helv soc_log_in soc_log_in__fb">
                  <div>
                    <img src="img/fb_icon.png" width="8" height="17">
                  </div>
                  <i class="vertical_line"></i>
                  <p>Sign In With Facebook</p>
                </div>
              </a>
            </div>

            <div class="button_border button_border__bottom_space">
              <a href="#" class="soc_link">
                <div class="helv soc_log_in soc_log_in__tw">
                  <div>
                    <img src="img/tw_icon.png" width="16" height="13">
                  </div>
                  <i class="vertical_line"></i>
                  <p>Sign In With Twitter</p>
                </div>
              </a>
            </div>

            <div class="button_border button_border__bottom_space">
              <a href="#" class="soc_link">
                <div class="helv soc_log_in soc_log_in__gp">
                  <div>
                    <img src="img/gp_icon.png" width="16" height="14">
                  </div>
                  <i class="vertical_line"></i>
                  <p>Sign In With Google+</p>
                </div>
              </a>
            </div>
            
            <p class="forgot-passwd">
              <a href="#">Forgot Password?</a>
            </p>
          </div>
        </div>
      </div>

      <div class="side-block row-fluid">
        <p class="side-header">More <a href="">Intro Video’s</a></p>

        {% for iter in range(2) %}
          <div class="video-block span6">
            <div class="nerd-video nice_border_bro">
              <div class="info">
                <span class="date">
                  {{params.videos[0].date}}
                </span>
                <span class="category">
                  {{params.videos[0].category}}
                </span>
              </div>

              <a href="" class="preview">
                <img src="{{params.imgUrn}}/{{params.videos[0].preview}}">
                <div class="video-timer">{{params.videos[0].length}}</div>
              </a>

              <p class="organization">
                <a href="#">{{params.videos[0].organization}}</a>
              </p>

              <div class="ratio">
                <div>
                  <img src="{{params.imgUrn}}/eye_icon_12x12.png" width="12" height="12">
                  {{params.videos[0].ratio.views}}
                </div>
                <div>
                  <img src="{{params.imgUrn}}/comments_icon_12x12.png" width="12" height="12">
                  {{params.videos[0].ratio.comments}}
                </div>
                <div>
                  <img src="{{params.imgUrn}}/loved_icon_12x12.png" width="12" height="12">
                  {{params.videos[0].ratio.likes}} Likes
                </div>
              </div>
            </div>

            <div class="signature">
              <a href="#">
                <img src="img/user_avatar_small_13x13.png" width="13" height="13">
                Greggory McKinzy
              </a>
            </div>
          </div>
        {% endfor %}

        <div class="side-wrapper"></div>

        <p class="side-header">More <a href="">Tour Video’s</a></p>

        {% for iter in range(2) %}
          <div class="video-block span6">
            <div class="nerd-video nice_border_bro">
              <div class="info">
                <span class="date">
                  {{params.videos[0].date}}
                </span>
                <span class="category">
                  {{params.videos[0].category}}
                </span>
              </div>

              <a href="" class="preview">
                <img src="{{params.imgUrn}}/{{params.videos[0].preview}}">
                <div class="video-timer">{{params.videos[0].length}}</div>
              </a>

              <p class="organization">
                <a href="#">{{params.videos[0].organization}}</a>
              </p>

              <div class="ratio">
                <div>
                  <img src="{{params.imgUrn}}/eye_icon_12x12.png" width="12" height="12">
                  {{params.videos[0].ratio.views}}
                </div>
                <div>
                  <img src="{{params.imgUrn}}/comments_icon_12x12.png" width="12" height="12">
                  {{params.videos[0].ratio.comments}}
                </div>
                <div>
                  <img src="{{params.imgUrn}}/loved_icon_12x12.png" width="12" height="12">
                  {{params.videos[0].ratio.likes}} Likes
                </div>
              </div>
            </div>

            <div class="signature">
              <a href="#">
                <img src="img/user_avatar_small_13x13.png" width="13" height="13">
                Greggory McKinzy
              </a>
            </div>
          </div>
        {% endfor %}

        <div class="side-wrapper"></div>
      </div>

      <div class="side-block">
        <p class="side-header">More <a href="">Popular Tags</a></p>

        <nav class="tags">
          {% for tag in params.tags %}
            <a href="#">{{tag.name}}</a>
          {% endfor %}
        </nav>
      </div>
      </div>
    </aside>
  </div>

  <footer>
    <div class="footer-container">
        <div class="nav-and-copyright">
            <nav>
                <a href="#">About/Contacts</a>
                <a href="#">Terms of Use</a>
            </nav>
            <p>Copyright &copy; 2011 Nerd. All videos &copy; their respective owners.</p>
            <p>Made in Kolomna, Russia and Lisbon, Portugal via WeekendHacker. Hosted by (RackSpace).</p>
            <p>Follow us on: Google+, Twitter and Facebook.</p>
        </div>

        <div class="view-counter-container">
            <span>2.500.987 plays</span>
            <img src="img/footer_logo.gif" width="136" height="34" alt="NERD">
        </div>
    </div>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery.min.js"><\/script>')</script>

  {% if DEV %}
  <script src="js/main.js"></script>
  {% else %}
  <script src="js/scripts.min.js"></script>
  {% endif %}

  <!--<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script> -->
</body>
</html>